ion-grid {
    width:100%;
    height: 100%;
    background: var(--ion-color-primary);
    color: #fff;
}

ion-row {
    height: 100%;
}

ion-button {
    margin: 10px 20px;
}

ion-button span {
    color: #3171e0;
    font-weight: bold;
    font-style: normal;
}

h1 {
    font-size: 30px;
}

.camera-icon {
    margin: 0 auto;
    font-size: 20px;
}