<ion-grid>
  <ion-row padding justify-content-center>
    <ion-col align-self-center>
      <h1 class="page-title" text-center padding-bottom>Cadastrar usuário</h1>
   
  
        <form padding [formGroup]="registerForm">
            <ion-row>
          <ion-col size="3" align-self-center>
            <ion-label>Nome: </ion-label>
          </ion-col>
          <ion-col size="9" no-padding>
            <ion-item>
              <ion-input type="text" formControlName="name" placeholder="Digite seu nome"></ion-input>
            </ion-item>
          </ion-col>
          </ion-row>

          <ion-row>
          <ion-col size="3" align-self-center>
            <ion-label>E-mail: </ion-label>
          </ion-col>
          <ion-col size="9" no-padding>
            <ion-item>
              <ion-input type="email" formControlName="email" placeholder="Digite seu e-mail"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

      <ion-row>
          <ion-col size="3" align-self-center>
            <ion-label>Senha: </ion-label>
          </ion-col>
          <ion-col size="9" no-padding>
            <ion-item>
              <ion-input type="password" formControlName="password" placeholder="Digite sua senha"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

      <ion-row>
          <ion-col size="3" align-self-center>
            <ion-label style="white-space: normal;">Confirmar senha: </ion-label>
          </ion-col>
          <ion-col size="9" no-padding>
            <ion-item>
              <ion-input type="password" formControlName="passwordConfirmation" placeholder="Confirme sua senha"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

          <div padding>
            <ion-button type="submit" size="large" expand="block" color="light"><span class="azul">Criar conta</span></ion-button>
            <ion-button size="large" color="light" expand="block" [routerLink]="[ '/login' ]"><span class="azul">Cancelar</span></ion-button>
          </div>
        </form>
      </ion-col>
      </ion-row>
</ion-grid>