<app-header></app-header>

<ion-content padding-bottom padding-horizontal>

  <ion-card color="primary" margin-top>
    <ion-card-header class="page-title" padding text-center>Desempenho</ion-card-header>

    <ion-card-content>
      <ion-slides style="height: 400px;" pager="true" [options]="slideOpts">
        <ion-slide>
          <div style="width: 100%;">
            <div margin-bottom padding-bottom>
              <h1 style="font-weight: bold;">Cadastros</h1>
            </div>
            <div margin-bottom>
              <ion-title>Projetos cadastrados</ion-title>
              <ion-button color="light" fill="outline">4</ion-button>
            </div>
            <div>
              <ion-title>Tarefas cadastradas</ion-title>
              <ion-button color="light" fill="outline">4</ion-button>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div style="width: 100%;">
            <div margin-bottom padding-bottom>
              <h1 style="font-weight: bold;">Conclusões</h1>
            </div>
            <div margin-bottom>
              <ion-title>Projetos concluídos</ion-title>
              <ion-button color="light" fill="outline">4</ion-button>
            </div>
            <div>
              <ion-title>Tarefas concluídas</ion-title>
              <ion-button color="light" fill="outline">4</ion-button>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div style="width: 100%;">
            <div margin-bottom padding-bottom>
              <h1 style="font-weight: bold;">Atrasos</h1>
            </div>
            <div margin-bottom>
              <ion-title>Projetos atrasados</ion-title>
              <ion-button color="light" fill="outline">4</ion-button>
            </div>
            <div>
              <ion-title>Tarefas atrasadas</ion-title>
              <ion-button color="light" fill="outline">4</ion-button>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div style="width: 100%;">
            <div margin-bottom padding-bottom>
              <h1 style="font-weight: bold;">Erros</h1>
            </div>
            <div margin-bottom>
              <ion-title>Quantidade de erros gerados</ion-title>
              <ion-button color="light" fill="outline">4</ion-button>
            </div>
            <!--<div margin-bottom>
              <ion-title>Erros por tipo</ion-title>
              <ion-button color="light" fill="outline">4</ion-button>            
            </div>-->
            <div>
              <ion-title>Média de erros por tarefa</ion-title>
              <ion-button color="light" fill="outline">4</ion-button>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div style="width: 100%;">
            <div margin-bottom padding-bottom>
              <h1 style="font-weight: bold;">Erros por tipo</h1>
            </div>
            <ion-row>
              <ion-col size="9" align-self-center>
                <ion-title>Erros de compilação</ion-title>
              </ion-col>
              <ion-col size="3">
                <ion-button color="light" fill="outline">4</ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="9" align-self-center>
                <ion-title>Erros de sintaxe</ion-title>
              </ion-col>
              <ion-col size="3">
                <ion-button color="light" fill="outline">4</ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="9" align-self-center>
                <ion-title>Erros de semântica</ion-title>
              </ion-col>
              <ion-col size="3">
                <ion-button color="light" fill="outline">4</ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="9" align-self-center>
                <ion-title>Erros de lógica</ion-title>
              </ion-col>
              <ion-col size="3">
                <ion-button color="light" fill="outline">4</ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="9" align-self-center>
                <ion-title>Erros de planejamento</ion-title>
              </ion-col>
              <ion-col size="3">
                <ion-button color="light" fill="outline">4</ion-button>
              </ion-col>
            </ion-row>
          </div>
        </ion-slide>
        <ion-slide>
          <div style="width: 100%;">
            <div margin-bottom padding-bottom>
              <h1 style="font-weight: bold;">Tarefa por categoria</h1>
            </div>
            <ion-row>
              <ion-col size="9" align-self-center>
                <ion-title>Tarefas de documentação</ion-title>
              </ion-col>
              <ion-col size="3">
                <ion-button color="light" fill="outline">4</ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="9" align-self-center>
                <ion-title>Tarefas de programação</ion-title>
              </ion-col>
              <ion-col size="3">
                <ion-button color="light" fill="outline">4</ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="9" align-self-center>
                <ion-title>Tarefas de design</ion-title>
              </ion-col>
              <ion-col size="3">
                <ion-button color="light" fill="outline">4</ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="9" align-self-center>
                <ion-title>Tarefas de teste</ion-title>
              </ion-col>
              <ion-col size="3">
                <ion-button color="light" fill="outline">4</ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="9" align-self-center>
                <ion-title>Outras tarefas</ion-title>
              </ion-col>
              <ion-col size="3">
                <ion-button color="light" fill="outline">4</ion-button>
              </ion-col>
            </ion-row>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>

</ion-content>