<app-header></app-header>

<ion-content padding-bottom padding-horizontal>

  <ion-card color="primary" margin-top>
    <ion-card-header class="page-title" padding text-center>{{ "performance.title" | translate }}</ion-card-header>

    <ion-card-content>
      <ion-slides style="height: 400px;" pager="true" [options]="slideOpts">
        <ion-slide>
          <div style="width: 100%;">
            <div margin-bottom padding-bottom>
              <h1 style="font-weight: bold;">{{ "performance.created" | translate }}</h1>
            </div>
            <div margin-bottom>
              <ion-title>{{ "performance.projects_created" | translate }}</ion-title>
              <ion-button color="light" fill="outline">{{ createdProjectsTasks?.projects }}</ion-button>
            </div>
            <div>
              <ion-title>{{ "performance.tasks_created" | translate }}</ion-title>
              <ion-button color="light" fill="outline">{{ createdProjectsTasks?.tasks }}</ion-button>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div style="width: 100%;">
            <div margin-bottom padding-bottom>
              <h1 style="font-weight: bold;">{{ "performance.conclusions" | translate }}</h1>
            </div>
            <div margin-bottom>
              <ion-title>{{ "performance.projects_concluded" | translate }}</ion-title>
              <ion-button color="light" fill="outline">{{ completedProjectsTasks?.projects }}</ion-button>
            </div>
            <div>
              <ion-title>{{ "performance.tasks_concluded" | translate }}</ion-title>
              <ion-button color="light" fill="outline">{{ completedProjectsTasks?.tasks }}</ion-button>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div style="width: 100%;">
            <div margin-bottom padding-bottom>
              <h1 style="font-weight: bold;">{{ "performance.delays" | translate }}</h1>
            </div>
            <div margin-bottom>
              <ion-title>{{ "performance.projects_delayed" | translate }}</ion-title>
              <ion-button color="light" fill="outline">{{ overdueProjectsTasks?.projects }}</ion-button>
            </div>
            <div>
              <ion-title>{{ "performance.tasks_delayed" | translate }}</ion-title>
              <ion-button color="light" fill="outline">{{ overdueProjectsTasks?.tasks }}</ion-button>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div style="width: 100%;">
            <div margin-bottom padding-bottom>
              <h1 style="font-weight: bold;">{{ "performance.errors" | translate }}</h1>
            </div>
            <div margin-bottom>
              <ion-title>{{ "performance.errors_generated" | translate }}</ion-title>
              <ion-button color="light" fill="outline">{{ errors?.errors }}</ion-button>
            </div>
            <!--<div margin-bottom>
              <ion-title>Erros por tipo</ion-title>
              <ion-button color="light" fill="outline">4</ion-button>            
            </div>-->
            <div>
              <ion-title>{{ "performance.errors_averages" | translate }}</ion-title>
              <ion-button color="light" fill="outline">{{ errors?.average }}</ion-button>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div style="width: 100%;">
            <div margin-bottom padding-bottom>
              <h1 style="font-weight: bold;">{{ "performance.errors_type" | translate }}</h1>
            </div>
            <ion-row>
              <ion-col size="9" align-self-center>
                <ion-title>{{ "performance.errors_compilation" | translate }}</ion-title>
              </ion-col>
              <ion-col size="3">
                <ion-button color="light" fill="outline">{{ errors?.compilation }}</ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="9" align-self-center>
                <ion-title>{{ "performance.errors_sintax" | translate }}</ion-title>
              </ion-col>
              <ion-col size="3">
                <ion-button color="light" fill="outline">{{ errors?.syntax }}</ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="9" align-self-center>
                <ion-title>{{ "performance.errors_semantic" | translate }}</ion-title>
              </ion-col>
              <ion-col size="3">
                <ion-button color="light" fill="outline">{{ errors?.semantics }}</ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="9" align-self-center>
                <ion-title>{{ "performance.errors_logic" | translate }}</ion-title>
              </ion-col>
              <ion-col size="3">
                <ion-button color="light" fill="outline">{{ errors?.logic }}</ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="9" align-self-center>
                <ion-title>{{ "performance.errors_planning" | translate }}</ion-title>
              </ion-col>
              <ion-col size="3">
                <ion-button color="light" fill="outline">{{ errors?.planning }}</ion-button>
              </ion-col>
            </ion-row>
          </div>
        </ion-slide>
        <ion-slide style="height: 450px;">
          <div style="width: 100%;">
            <div margin-bottom>
              <h1 style="font-weight: bold;">{{ "performance.tasks_category" | translate }}</h1>
            </div>
            <ion-row>
              <ion-col size="9" align-self-center>
                <ion-title>{{ "performance.tasks_modeling" | translate }}</ion-title>
              </ion-col>
              <ion-col size="3">
                <ion-button color="light" fill="outline">{{ tasksByCategory?.modeling }}</ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="9" align-self-center>
                <ion-title>{{ "performance.tasks_documentation" | translate }}</ion-title>
              </ion-col>
              <ion-col size="3">
                <ion-button color="light" fill="outline">{{ tasksByCategory?.documentation }}</ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="9" align-self-center>
                <ion-title>{{ "performance.tasks_programming" | translate }}</ion-title>
              </ion-col>
              <ion-col size="3">
                <ion-button color="light" fill="outline">{{ tasksByCategory?.programming }}</ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="9" align-self-center>
                <ion-title>{{ "performance.tasks_design" | translate }}</ion-title>
              </ion-col>
              <ion-col size="3">
                <ion-button color="light" fill="outline">{{ tasksByCategory?.design }}</ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="9" align-self-center>
                <ion-title>{{ "performance.tasks_test" | translate }}</ion-title>
              </ion-col>
              <ion-col size="3">
                <ion-button color="light" fill="outline">{{ tasksByCategory?.test }}</ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="9" align-self-center>
                <ion-title>{{ "performance.tasks_other" | translate }}</ion-title>
              </ion-col>
              <ion-col size="3">
                <ion-button color="light" fill="outline">{{ tasksByCategory?.other }}</ion-button>
              </ion-col>
            </ion-row>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>

</ion-content>