<app-header></app-header>

<ion-content padding-bottom padding-horizontal>

  <ion-card color="primary" margin-top>
    <ion-card-header class="page-title" padding text-center>Cadastrar Projeto</ion-card-header>

    <form no-padding padding-bottom padding-horizontal [formGroup]="createProjectForm">
      <ion-row>
        <ion-col size="4" align-self-center>
          <ion-label>Título: </ion-label>
        </ion-col>
        <ion-col size="8" no-padding>
          <ion-item>
            <ion-input type="text" formControlName="titulo" placeholder="Digite o título"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4" align-self-center>
          <ion-label>Subtítulo: </ion-label>
        </ion-col>
        <ion-col size="8" no-padding>
          <ion-item>
            <ion-input type="text" formControlName="subtitulo" placeholder="Digite o subtítulo"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4" align-self-center>
          <ion-label style="white-space: normal;">Especialidade</ion-label>
        </ion-col>
        <ion-col size="8" no-padding>
          <ion-item>
            <ion-input type="text" formControlName="especialidade" placeholder="Digite a especialidade"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4" align-self-center>
          <ion-label>Data inicial: </ion-label>
        </ion-col>
        <ion-col size="8" no-padding>
          <ion-item>
            <ion-input type="date" formControlName="inicio"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4" align-self-center>
          <ion-label>Data final: </ion-label>
        </ion-col>
        <ion-col size="8" no-padding>
          <ion-item>
            <ion-input type="date" formControlName="entrega"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-card-content class="project-card-content" padding margin-top>


        <ion-row>
          <ion-textarea name="descricao" rows="4" text-justify placeholder="Digite a descrição do projeto"></ion-textarea>
        </ion-row>

        <ion-row padding-top>
          <ion-col size="6">
            <ion-button color="success" size="small" fill="outline">
              <ion-icon name="checkmark" color="success"></ion-icon><span>Cadastrar</span>
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button color="danger" size="small" fill="outline">
              <ion-icon name="close" color="danger"></ion-icon><span>Limpar</span>
            </ion-button>
          </ion-col>
        </ion-row>

      </ion-card-content>
    </form>
  </ion-card>

</ion-content>