<ion-grid>
	<ion-row justify-content-center>
		<ion-col size="12" align-self-center>
			<div text-center>
				<img src="../../assets/logo-simbol.png" alt="Efficiency" width="100">
				<h1 class="logo">Efficiency</h1>
			</div>
			<form padding [formGroup]="loginForm" (ngSubmit)="onSubmit()">
				<app-input errorMessage="E-mail inválido" icon="person">
					<ion-input type="email" formControlName="email" placeholder="E-mail"></ion-input>
				</app-input>
				<app-input errorMessage="A senha deve conter pelo menos 6 caracteres" icon="lock">
					<ion-input type="password" formControlName="password" [placeholder]="'login.password' | translate"></ion-input>
				</app-input>

				<div padding>
					<ion-button type="submit" size="large" expand="block" color="light" [disabled]="loginForm.invalid" margin>
						<ion-icon name="arrow-forward" style="color: #3171e0;"></ion-icon>
					</ion-button>
				</div>
			</form>
			<div class="register" text-center>
				<ion-button size="default" color="light" [routerLink]="['/forgot']"><span class="azul">{{ "login.forgot" | translate }}</span></ion-button>
				<ion-button size="default" color="light" [routerLink]="['/register']"><span class="azul">{{ "login.create_account" | translate }}</span></ion-button>
				<!-- <a href="/forgot" margin-bottom>Esqueceu sua senha?</a>
				Ainda não tem uma conta?<a href="/register"> Cadastre-se aqui.</a> -->
			</div>
		</ion-col>
	</ion-row>
</ion-grid>