ion-grid {
    width:100%;
    height: 100%;
    background: var(--ion-color-primary);
    color: #fff;
}

ion-row {
    height: 100%;
}

.logo {
    font-size: 40px;
}

ion-button {
    font-weight: 300;
    color: var(--ion-color-primary-shade);
}

ion-item {
    --padding-start: 0;
    border-bottom: 1px solid #fff;
    margin: 10px 20px;
}

.register a {
    display: block;
    text-decoration: underline;
    color: #fff; 
}

.register ion-button {
    padding: 0 8px;
}

ion-button span {
    color: #3171e0;
    font-weight: bold;
    font-style: normal;
}