ion-grid {
    width:100%;
    height: 100%;
    background: var(--ion-color-primary);
    color: #fff;
}

ion-row {
    height: 100%;
}

.logo {
    font-size: 40px;
}

ion-button {
    font-weight: 300;
    margin: 10px 20px;
    color: var(--ion-color-primary-shade);
}

ion-input {
    color: #fff;
}

ion-icon { 
    color: #fff;
    margin-right: 10px;
}

ion-item {
    --padding-start: 0;
    border-bottom: 1px solid #fff;
    margin: 10px 20px;
}