ion-item {
    --padding-start: 0;
    border-bottom: 1px solid #fff;
    margin: 10px 20px;
}

.message-validation {
    margin-left: 20px;
}

.icon-validation {
    font-size: 18px;
    font-weight: bold;    
}