// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.menu-title {
    color: #fff;
    letter-spacing: 20px;
    text-transform: uppercase;
}

.menu-item {
    color: #fff;
    border: none;
    --background-activated: #3171e0;
}

.menu-list {
    background-color: #3880ff;
}

ion-menu * {
    --background: #3880ff;
}

.page-title-separated {
    background-color: #3880ff;
    color: #fff;
    margin: 16px 10px 10px;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 18px !important;
    border-radius: 10px;
}

.page-title {
    background-color: #3880ff;
    color: #fff;
    margin: 16px 0 0 0;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 18px !important;
}

ion-card {
    border-radius: 10px !important;
}

ion-input {
    color: #fff;
}

form ion-icon { 
    color: #fff;
    margin-right: 10px;
}

form ion-item {
    --padding-start: 0;
    border-bottom: 1px solid #fff;
    margin: 10px 10px;
}

.btn-group-form {
    width: 250px;
    margin: 0 auto;
}

.project-card-content {
    background-color: #f4f5f8;
    color: #000;
    font-size: 17px;
    padding-top: 8px;
    border-radius: 10px;
}

ion-card-header {
    padding-bottom: 0;
}

ion-card {
    border-radius: 10px;
}

ion-button {
    border-radius: 5px;
}