<app-header></app-header>

<ion-content padding-bottom padding-horizontal>


  <ion-card color="primary">
    <ion-card-header class="page-title" padding text-center>Configurações</ion-card-header>
    <ion-card-content class="user-info" no-padding>
      <form no-padding padding-bottom padding-horizontal [formGroup]="settingsForm">
        <ion-row>
          <ion-col size="4" align-self-center>
            <ion-label>Idioma: </ion-label>
          </ion-col>
          <ion-col size="8" no-padding align-self-center>
            <ion-select class="select" formControlName="idioma" cancelText="Cancelar" placeholder="Selecione o idioma">
              <ion-select-option value="p1">Português</ion-select-option>
              <ion-select-option value="p2">Inglês</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="4" align-self-center>
            <ion-label>Dicas: </ion-label>
          </ion-col>
          <ion-col size="8" no-padding align-self-center>
              <ion-checkbox checked="true" color="success"></ion-checkbox>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="4" align-self-center>
            <ion-label>Cronograma: </ion-label>
          </ion-col>
          <ion-col size="8" no-padding align-self-center>
            <ion-select class="select" formControlName="cronograma" cancelText="Cancelar" placeholder="Selecione o cronograma">
              <ion-select-option value="p1">Tipo 1</ion-select-option>
              <ion-select-option value="p2">Tipo 2</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>

        <div class="btn-group-form" padding>
          <ion-button type="submit" size="default" expand="block" color="success" margin-bottom>Salvar</ion-button>
          <ion-button type="reset" size="default" expand="block" color="danger">Limpar</ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>