<app-header></app-header>

<ion-content padding-bottom padding-horizontal>


  <ion-card color="primary">
    <ion-card-header class="page-title" padding text-center>{{ "settings.title" | translate }}</ion-card-header>
    <ion-card-content class="user-info" no-padding>
      <form no-padding padding-bottom padding-horizontal [formGroup]="settingsForm">
        <ion-row>
          <ion-col size="4" align-self-center>
            <ion-label>{{ "settings.language" | translate }}: </ion-label>
          </ion-col>
          <ion-col size="8" no-padding align-self-center>
            <ion-select class="select" formControlName="linguagem" cancelText="Cancelar" [placeholder]="'settings.language_placeholder' | translate">
              <ion-select-option *ngFor="let language of languages" [value]="language?.id">{{ language?.language }}</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="4" align-self-center>
            <ion-label>{{ "settings.tips" | translate }}: </ion-label>
          </ion-col>
          <ion-col size="8" no-padding align-self-center>
              <ion-checkbox formControlName="dicas" checked="settings.tips === 1" color="success"></ion-checkbox>
          </ion-col>
        </ion-row>

        <!--<ion-row>
          <ion-col size="4" align-self-center>
            <ion-label>Cronograma: </ion-label>
          </ion-col>
          <ion-col size="8" no-padding align-self-center>
            <ion-select class="select" formControlName="cronograma" cancelText="Cancelar" placeholder="Selecione o cronograma">
              <ion-select-option value="p1">Tipo 1</ion-select-option>
              <ion-select-option value="p2">Tipo 2</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>-->

        <ion-row>
          <ion-col size="4" align-self-center>
            <ion-label>{{ "settings.theme" | translate }}: </ion-label>
          </ion-col>
          <ion-col size="8" no-padding align-self-center>
            <ion-select class="select" formControlName="tema" cancelText="Cancelar" [placeholder]="'settings.theme_placeholder' | translate">
              <ion-select-option *ngFor="let theme of themes" [value]="theme?.id">{{ theme?.theme }}</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>

        <ion-row margin-vertical>
          <ion-col size="12" padding align-self-center text-center style="background: #4395d8; border: 2px solid #838383;">
            <ion-label style="color: #000;">{{ "settings.resume" | translate }} </ion-label>
          </ion-col>
        </ion-row>

        <div class="btn-group-form" padding>
          <ion-button (click)="save()" size="default" expand="block" color="success" margin-bottom>{{ "buttons.btn_save" | translate }}</ion-button>
          <ion-button type="reset" size="default" expand="block" color="danger" margin-bottom>{{ "buttons.btn_clear" | translate }}</ion-button>
          <!--<ion-button type="button" size="default" expand="block" color="dark">Deletar dados antigos</ion-button>-->
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>